* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #02020c;
  color: white;
  min-height: 100vh;
}

/* Start of Hero Section */
.all-container {
  padding: 0;
}

.hero-container {
  display: flex;
  flex-direction: row;
  background-image: url("https://i.imgur.com/rDsX9Gl.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh; /* You can adjust the height as needed */
}

.hero-left {
  width: 45%;
  padding: 7rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-left h1 {
  font-size: 6rem;
  line-height: 1;
}

.hero-left h1:first-child {
  color: #f4d4ff;
  display: block;
  font-size: 4rem;
  font-weight: 300;
}

.hero-left h1:nth-child(3),
.hero-left h1:nth-child(2) {
  color: transparent;
  background: linear-gradient(
    to bottom,
    #a17ffd 0%,
    #beccf9 20%,
    #d282ff 42%,
    #c1cbfc 71%,
    #b479fb 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0px 0px 65.78px #e420fe);
  text-shadow: 0 0 20px rgba(228, 32, 254, 0.5);
  display: block;
  /*-webkit-text-stroke: 1.5px black;  Solid black outline */
  font-weight: 900;
}

.hero-left p {
  padding: 2% 0;
  line-height: 1.5;
  font-size: 1.7rem;
  max-width: 550px;
}

.join-button {
  background: linear-gradient(90deg, #8f00ff 0%, #f73068 100%);
  color: white;
  padding: 1rem 2.5rem;
  border: #c893ff solid 1px;
  border-radius: 7px;
  font-size: 1.1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-origin: left center;
  width: fit-content;
  display: inline-block;
}

.join-button:hover {
  transform: scaleX(1.1); /* Only scale horizontally to the right */
  box-shadow: 0 0 15px #f73068;
}

.hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
}

.hero-right img {
  width: 200%;
  height: auto;
  display: block;
  padding-right: 20%;
}

@media (max-width: 1440px) {
  .hero-left h1 {
    font-size: 5rem;
  }
  .hero-left h1:first-child {
    font-size: 3rem;
  }
  .hero-left {
    width: 50%;
  }
  .hero-right {
    width: 50%;
  }
  .hero-left p {
    font-size: 1.5rem;
  }
}

@media (max-width: 1366px) {
  .hero-left {
    padding: 5rem;
  }
}

@media (max-width: 1200px) {
  .hero-left h1:first-child {
    font-size: 2.5rem;
  }
  .hero-left h1:nth-child(3),
  .hero-left h1:nth-child(2) {
    font-size: 4.5rem;
  }
  .hero-left p {
    font-size: 1.2rem;
  }
}

@media (max-width: 991px) {
  .hero-left h1:first-child {
    font-size: 2rem;
  }
  .hero-left h1:nth-child(3),
  .hero-left h1:nth-child(2) {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .hero-left h1:first-child {
    font-size: 1.5rem;
  }
  .hero-left h1:nth-child(3),
  .hero-left h1:nth-child(2) {
    font-size: 2.2rem;
  }
  .hero-left p {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .hero-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 1rem 0 1rem;
    height: auto;
  }

  .hero-left,
  .hero-right {
    width: 100%;
  }

  .hero-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1;
    padding: 1rem 2rem 0 2rem;
  }

  .hero-right {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
  }

  .hero-right img {
    width: 150%;
    height: auto;
    padding: 0;
    padding: 0;
    margin-top: -140%;
    z-index: 1;
  }

  .hero-left h1 {
    font-size: 2.2rem;
    line-height: 1.2;
  }

  .hero-left h1:first-child {
    font-size: 2rem;
    font-weight: bold;
  }

  .hero-left h1:nth-child(3),
  .hero-left h1:nth-child(2) {
    font-size: 3.5rem;
    line-height: 1;
  }

  .hero-left p {
    font-size: 1rem;
    max-width: 90%;
    padding-top: 70%;
  }

  .join-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    margin-top: 1rem;
  }
  .join-button:hover {
    transform: none;
  }
}

@media (max-width: 480px) {
  .hero-right img {
    margin-top: -730px;
  }
}

@media (max-width: 430px) {
  .hero-left h1:nth-child(3),
  .hero-left h1:nth-child(2) {
    font-size: 3rem;
  }
  .hero-left h1:first-child {
    font-size: 1.8rem;
  }
  .hero-right img {
    margin-top: -700px;
  }
  .hero-left p {
    max-width: 100%;
    padding-top: 70%;
  }
}

@media (max-width: 414px) {
  .hero-left {
    padding: 1rem 1rem 0 1rem;
  }
  .hero-right img {
    margin-top: -640px;
  }
  .hero-container {
    padding-bottom: 0;
  }
}

@media (max-width: 390px) {
  .hero-right img {
    margin-top: -670px;
  }
}

@media (max-width: 375px) {
  .hero-container {
    padding: 0;
  }
  .hero-right img {
    margin-top: -690px;
  }
}

@media (max-width: 360px) {
  .hero-right img {
    margin-top: -670px;
  }
}

/* End of Hero Section */

/* Start of Stats Section */
.stats-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 5rem;
  flex-wrap: wrap;
  gap: 2rem;
}

.stats-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stats-item img {
  width: 200px;
  height: 200px;
}

.stats-text {
  display: flex;
  flex-direction: column;
}

.stats-title {
  font-size: 2rem;
  font-weight: 300;
  color: #ffffff;
}

.stats-glow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.3rem;
}

.circle-glow {
  width: 15px;
  height: 15px;
  background-color: #55ff58;
  border: 1px solid white;
  border-radius: 50%;
  box-shadow: 0 0 10px #55ff58, 0 0 15px #55ff58, 0 0 20px #55ff58;
}

.glow-text {
  color: #ffffff;
  font-weight: 300;
  font-size: 2rem;
}

@media (max-width: 1440px) {
  .stats-title,
  .glow-text {
    font-size: 1.5rem;
  }
}

@media (max-width: 1366px) {
  .stats-item img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 1200px) {
  .stats-container {
    padding: 2rem 4rem;
  }
}

@media (max-width: 991px) {
  .stats-item img {
    width: 100px;
    height: 100px;
  }
  .stats-title,
  .glow-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .stats-item {
    flex-direction: column;
    align-items: center;
  }

  .stats-container {
    align-items: flex-start;
  }

  .stats-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
    gap: 2rem;
  }

  .stats-text {
    text-align: center;
  }

  .stats-glow {
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .stats-title,
  .glow-text {
    font-size: 1rem;
  }
  .stats-container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: 1rem;
  }
}

/* End of Stats Section */

/* Start of Experience Section */
.experience-section {
  position: relative;
  width: 100%;
  padding: 5rem 1rem;
  background-color: #02020c;
}

.experience-container {
  width: 90%;
  margin: 0 auto;
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  background: url("https://i.imgur.com/5nKNZA3.png");
  background-size: cover;
  -webkit-mask-image: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0.6) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-composite: destination-in;
  mask-image: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0.6) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-composite: exclude;
}

.experience-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 5rem 3rem;
  color: white;
  text-align: center;
}

.experience-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  width: 90%;
}

.experience-text {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.experience-text p {
  margin-bottom: 1.5rem;
  line-height: 1.6;
  font-size: 1.5rem;
}

@media (max-width: 991px) {
  .experience-section {
    padding: 5rem 0;
  }
  .experience-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .experience-content {
    padding: 4rem 1rem;
  }
}

@media (max-width: 576px) {
  .experience-title {
    font-size: 2rem;
  }
  .experience-text p {
    font-size: 1rem;
  }
  .experience-content {
    padding: 4rem 0rem 0rem 1rem;
  }
  .experience-section {
    padding: 2rem 0;
  }
  .experience-container {
    background: url("https://i.imgur.com/lZU9T3c.png");
  }
}

@media (max-width: 430px) {
  .experience-title {
    font-size: 1.5rem;
  }
}

/* End of Experience Section */

/* Start of VipTiers Section */
.vip-tiers-section {
  padding: 4rem 7rem;
  text-align: center;
  background-color: #02020c;
}

.vip-tiers-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.vip-section-title {
  font-size: 3rem;
  font-weight: 800;
  color: #ffffff;
  filter: drop-shadow(0px 0px 15px #c61bff);
  letter-spacing: 1px;
}

.vip-icon {
  width: 100px;
  height: auto;
}

/* TABS WRAPPER */
.vip-tabs-wrapper {
  width: 100%;
  border-radius: 20px;
  background-color: #270035;
  height: 150px; /* Fixed height */
  overflow: hidden; /* Prevents content overflow */
  display: flex;
  align-items: center; /* Vertically center the inner tabs */
}

.vip-tabs {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

.vip-tabs h1 {
  font-size: 2rem;
  font-weight: bold;
}

.vip-tab {
  background-color: transparent;
  color: white;
  border: 2px solid transparent; /* Start with invisible border */
  padding: 1rem 1.2rem;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background 0.3s, opacity 0.3s, border-color 0.3s;
  opacity: 0.7;
  height: 150px;
}

.vip-tab:hover {
  opacity: 1;
  border-color: #ff00d1; /* 💡 Hover border */
}

.vip-tab.active {
  opacity: 1;
  background-color: #bb00ff;
  border-color: #bb00ff; /* 💡 Active tab border */
}

/* Shared image style */
.vip-tab img {
  height: 150px;
  width: auto;
  transition: transform 0.3s ease, filter 0.3s ease;
}

/* POP-UP on hover */
.vip-tab:hover img {
  transform: scale(1.1);
}

/* SHIMMERING KEYFRAME */
@keyframes shimmer {
  0%,
  100% {
    filter: drop-shadow(0 0 0 transparent);
  }
  50% {
    filter: drop-shadow(0 0 20px var(--glow-color));
  }
}

/* === VIP Tier Glow Effects === */

/* PLATINUM: #EE00FF at 40% */
.vip-tab.vip-platinum:hover img,
.vip-tab.vip-platinum.active img {
  --glow-color: rgba(238, 0, 255, 0.4);
  animation: shimmer 1.8s infinite ease-in-out;
}

/* GOLD: #FFEA00 at 40% */
.vip-tab.vip-gold:hover img,
.vip-tab.vip-gold.active img {
  --glow-color: rgba(255, 234, 0, 0.4);
  animation: shimmer 1.8s infinite ease-in-out;
}

/* SILVER: #6C9CD0 at 50% */
.vip-tab.vip-silver:hover img,
.vip-tab.vip-silver.active img {
  --glow-color: rgba(108, 156, 208, 0.5);
  animation: shimmer 1.8s infinite ease-in-out;
}

/* BRONZE: #CE9340 at 50% */
.vip-tab.vip-bronze:hover img,
.vip-tab.vip-bronze.active img {
  --glow-color: rgba(206, 147, 64, 0.5);
  animation: shimmer 1.8s infinite ease-in-out;
}

/* TAB CONTENT */
/* Wrapper for all tab content */

/* Each tier content (hidden by default) */
.tier-content {
  display: none;
  width: 100%;
}

.tier-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}

.tier-content.active {
  display: flex; /* Make sure it's a row layout */
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: nowrap;
}

/* Flex layout for image and text */
.tier-image {
  width: 45%;
}

.tier-image img {
  width: 100%;
  height: auto;
  border-radius: 16px;
  padding: 1rem;
}

/* Text vertically centered relative to the image */
.tier-text {
  width: 55%;
  color: #e0d0ff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding: 0rem 5rem 0rem 6rem;
}

.vip-title {
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
  display: inline-block;

  color: transparent;
  background: linear-gradient(to bottom, #d8beff 0%, #ebdeff 41%, #4c56a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 0px 53.48px rgba(255, 255, 255, 0.53));
}

/* Gold */
.vip-title.gold {
  background: linear-gradient(to bottom, #bd9b13 0%, #ffe956 50%, #c29010 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  filter: drop-shadow(0px 0px 42.6px rgba(255, 239, 98, 0.53));
}

/* Silver */
.vip-title.silver {
  background: linear-gradient(to bottom, #8eb7ff 0%, #ffffff 47%, #bac2ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  filter: drop-shadow(0px 0px 42.6px rgba(157, 221, 255, 0.5));
}

/* Bronze */
.vip-title.bronze {
  background: linear-gradient(to bottom, #ffbc61 0%, #b5670d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  filter: drop-shadow(0px 0px 42.6px rgba(255, 187, 98, 0.5));
}

.tier-text p {
  font-size: 2rem;
  line-height: 1.2;
}

/* Mobile tier switcher hidden by default */
.vip-tier-switcher-mobile {
  display: none;
  gap: 2.5rem;
  align-items: center;
  margin-left: auto;
}

.vip-tier-switcher-mobile img {
  width: 40px;
  height: auto;
  cursor: pointer;
}

@media (max-width: 1760px) {
  .vip-tabs h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 1440px) {
  .vip-title {
    font-size: 3rem;
  }
  .tier-text p {
    font-size: 1.5rem;
  }
  .vip-tabs-wrapper,
  .vip-tab img,
  .vip-tab {
    height: 130px;
  }
}

@media (max-width: 1366px) {
  .vip-tabs-wrapper,
  .vip-tab img,
  .vip-tab {
    height: 120px;
  }
}

@media (max-width: 1250px) {
  .vip-tabs-wrapper,
  .vip-tab img,
  .vip-tab {
    height: 110px;
  }
  .vip-tabs h1 {
    font-size: 1.2rem;
  }
  .vip-title {
    font-size: 2.5rem;
  }
  .tier-text p {
    font-size: 1.3rem;
  }
  .tier-text {
    padding: 0rem 4rem 0rem 4rem;
  }
}

@media (max-width: 1150px) {
  .vip-tabs-wrapper,
  .vip-tab img,
  .vip-tab {
    height: 90px;
  }
}

@media (max-width: 1050px) {
  .vip-tabs-wrapper,
  .vip-tab img,
  .vip-tab {
    height: 80px;
  }
  .vip-tabs h1 {
    font-size: 1rem;
  }
  .vip-title {
    font-size: 2.3rem;
  }
  .tier-text p {
    font-size: 1.1rem;
  }
}

@media (max-width: 991px) {
  .vip-section-title {
    font-size: 2.5rem;
  }
  .vip-icon {
    width: 80px;
  }
  .vip-tabs-wrapper,
  .vip-tab img,
  .vip-tab {
    height: 60px;
  }
}

@media (max-width: 890px) {
  .vip-tabs-wrapper {
    display: none;
  }
  .vip-tier-switcher-mobile {
    display: flex;
  }
  .tier-flex {
    flex-direction: column;
  }
  .tier-image,
  .tier-text {
    width: 100%;
    text-align: center;
  }
  .vip-tiers-section {
    padding: 4rem 4rem;
  }
  .vip-title {
    font-size: 4rem;
  }
  .tier-text p {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .vip-tiers-section {
    padding: 4rem 2rem;
  }
  .tier-text {
    padding: 1rem;
  }
  .tier-image img {
    padding: 0;
  }
}

@media (max-width: 576px) {
  .vip-section-title {
    font-size: 2rem;
  }
  .vip-tiers-section {
    padding: 2rem 2rem;
  }
  .vip-icon {
    width: 60px;
  }
  .vip-title {
    font-size: 2rem;
  }
  .tier-text p {
    font-size: 1rem;
  }
}

@media (max-width: 540px) {
  .vip-tier-switcher-mobile img {
    width: 40px;
  }
}

@media (max-width: 430px) {
  .vip-section-title {
    font-size: 1.5rem;
  }
  .vip-icon {
    width: 50px;
  }
  .vip-tier-switcher-mobile img {
    width: 30px;
  }
}

@media (max-width: 390px) {
  .vip-tiers-section {
    padding: 2rem 1rem;
  }
  .vip-icon {
    width: 35px;
  }
}

/* End of VipTiers Section */

/* Start of Vip Benefits Section */
.vip-benefits-title {
  font-size: 3rem;
  font-weight: 800;
  color: #ffffff;
  filter: drop-shadow(0px 0px 15px #c61bff);
  letter-spacing: 1px;
  text-align: center;
}

.vip-benefits-section {
  text-align: center;
  padding: 4rem 7rem;
  background-color: #02020c;
  width: 100%;
}

.vip-benefits-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: relative;
  width: 100%;
}

.vip-benefit-arrow {
  background: transparent;
  border: none;
  padding: 0;
}

.vip-benefit-arrow img {
  width: 50px;
  height: auto;
  cursor: pointer;
  background: none;
  border: none;
  display: block;
}

.vip-benefits-content {
  width: 100%;
  max-width: 1500px;
  background: url("https://i.imgur.com/kjKoLLC.png") no-repeat center center;
  background-size: cover;
  padding: 3rem;
  border-radius: 16px;
  color: white;
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 500px;
}

.vip-benefit-slide {
  flex: 0 0 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
}

.vip-benefit-slide.active {
  display: flex;
}

.vip-benefit-slide h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.vip-benefit-slide p {
  font-size: 2rem;
  margin-bottom: 2rem;
  max-width: 90%;
  line-height: 1.5;
}

.vip-benefit-button {
  background: linear-gradient(90deg, #8f00ff 0%, #f73068 100%);
  border: none;
  padding: 1rem 2rem;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  width: 400px;
  height: 80px;
  font-size: 1.5rem;
  font-weight: normal;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.vip-benefit-button:hover {
  font-weight: bold;
  box-shadow: 0 0 15px #f73068;
  transform: scale(1.05);
}

/* Mobile tier switcher hidden by default */
.vip-benefits-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2rem;
}

.vip-benefit-switcher-mobile {
  display: none;
  gap: 2.5rem;
  align-items: center;
  margin-left: auto;
}

.vip-benefit-switcher-mobile img {
  width: 40px;
  height: auto;
  cursor: pointer;
}

@media (max-width: 991px) {
  .vip-benefit-button {
    width: 300px;
    margin-bottom: 20px;
  }
}

@media (max-width: 890px) {
  .vip-benefits-section {
    text-align: center;
    padding: 4rem 3rem;
  }
  .vip-benefits-content {
    padding: 4rem 2rem;
  }
}

@media (max-width: 768px) {
  .vip-benefit-arrow img {
    display: none;
  }
  .vip-benefits-title {
    text-align: left;
    margin-bottom: 0;
  }
  .vip-benefit-switcher-mobile {
    display: flex;
  }
  .vip-benefits-section {
    padding: 3rem 2rem;
  }
  .vip-benefits-title {
    font-size: 2.5rem;
  }
}
@media (max-width: 576px) {
  .vip-benefits-content {
    padding: 4rem 1rem;
  }
  .vip-benefits-section {
    padding: 4rem 2rem;
  }
  .vip-benefit-slide h3 {
    font-size: 2rem;
  }
  .vip-benefit-slide p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .vip-benefit-button {
    width: 200px;
    height: 70px;
    font-size: 1rem;
  }
  .vip-benefits-section {
    padding: 2rem 2rem;
  }
  .vip-benefits-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 430px) {
  .vip-benefit-switcher-mobile img {
    width: 30px;
  }
  .vip-benefit-slide h3 {
    font-size: 1.5rem;
  }

  .vip-benefit-button {
    height: 50px;
  }
}

@media (max-width: 390px) {
  .vip-benefits-content {
    padding: 2rem 0.5rem 3rem 0.5rem;
  }
  .vip-benefits-section {
    padding: 2rem 1rem;
  }
}
/* End of Vip Benefits Section */

/* Start of Benefits table Section */
.table-section {
  background-color: #000;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
}

.benefits-table-wrapper {
  background-color: #270035;
  padding: 2rem;
  border-radius: 20px;
  width: 90%;
  overflow-x: auto;
}

.benefits-table-desktop {
  display: block;
}

.benefits-table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  color: white;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid #270035;
  border-collapse: collapse;
}

.benefits-table-header {
  background-color: #270035;
  padding: 2rem 0rem;
}

.benefits-glow-title {
  font-size: 2.5rem;
  font-weight: 800;
  color: #ffffff;
  filter: drop-shadow(0px 0px 15px #c61bff);
  letter-spacing: 1px;
  text-align: center;
  display: inline-block;
}

.benefits-table-columns th {
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  border: none;
  background-color: #270035;
  filter: none;
}

.benefits-table td {
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  background-color: #270035;
}

.benefits-table img {
  width: 30px;
  height: auto;
}

.benefits-table-columns th:nth-child(1),
.benefits-table-columns th:nth-child(2) {
  text-align: left;
}

.benefits-table-columns th:nth-child(n + 3) {
  text-align: center;
}

.benefits-table td:nth-child(1),
.benefits-table td:nth-child(2) {
  text-align: left;
}

.benefits-table td:nth-child(n + 3) {
  text-align: center;
}

.benefits-table th:nth-child(1) {
  width: 18%;
}

.benefits-table th:nth-child(2) {
  width: 42%;
}

.benefits-table-columns th .vip-title-table,
.benefits-table-tier-mobile-row th .vip-title-table {
  font-size: 1.5rem;
  font-weight: 800;
  display: inline-block;
  background: linear-gradient(to bottom, #d8beff 0%, #ebdeff 41%, #4c56a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 0px 53.48px rgba(255, 255, 255, 0.53));
}

/* Gold */
.benefits-table-columns th .vip-title-table.gold,
.benefits-table-tier-mobile-row th .vip-title-table.gold {
  background: linear-gradient(to bottom, #bd9b13 0%, #ffe956 50%, #c29010 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  filter: drop-shadow(0px 0px 42.6px rgba(255, 239, 98, 0.53));
}

/* Silver */
.benefits-table-columns th .vip-title-table.silver,
.benefits-table-tier-mobile-row th .vip-title-table.silver {
  background: linear-gradient(to bottom, #8eb7ff 0%, #ffffff 47%, #bac2ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  filter: drop-shadow(0px 0px 42.6px rgba(157, 221, 255, 0.5));
}

/* Bronze */
.benefits-table-columns th .vip-title-table.bronze,
.benefits-table-tier-mobile-row th .vip-title-table.bronze {
  background: linear-gradient(to bottom, #ffbc61 0%, #b5670d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  filter: drop-shadow(0px 0px 42.6px rgba(255, 187, 98, 0.5));
}

.benefits-table-tier-mobile-row,
.benefits-table-dot-row {
  display: none;
}

@media (max-width: 1200px) {
  .benefits-table-wrapper {
    width: 100%;
  }
  .benefits-table-columns th {
    padding: 0.5rem;
    font-size: 1.2rem;
  }
  .benefits-table-columns th .vip-title-table {
    font-size: 1.2rem;
  }
  .benefits-table td {
    padding: 1rem 0.5rem;
  }
}

@media (max-width: 991px) {
  .benefits-table-wrapper {
    padding: 2rem 1rem;
  }
}

@media (max-width: 850px) {
  .silver-check,
  .gold-check,
  .platinum-check {
    display: none;
  }
  .benefits-table-tier-mobile-row th .vip-title-table,
  .benefits-table-tier-mobile-row th .vip-title-table.gold,
  .benefits-table-tier-mobile-row th .vip-title-table.silver,
  .benefits-table-tier-mobile-row th .vip-title-table.bronze {
    font-size: 2rem;
  }
  .benefits-table-columns {
    display: none;
  }
  .benefits-table-header {
    padding: 1rem 0rem;
  }
  .benefits-glow-title {
    font-size: 2rem;
  }
  .benefits-table td:nth-child(1),
  .benefits-table td:nth-child(2) {
    display: flex;
    flex-direction: column;
  }
  .benefits-table td:nth-child(1) {
    font-weight: bold;
    padding-bottom: 0;
  }
  .benefits-table-wrapper {
    padding: 2rem 3rem;
  }
  .benefits-table-tier-mobile-row,
  .benefits-table-dot-row {
    display: table-row;
  }
  .benefits-mobile-dots {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
    padding-bottom: 1rem;
  }

  .benefits-mobile-dots .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #b2b5bf;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .benefits-mobile-dots .dot.active {
    background-color: #d400ff;
  }
}

@media (max-width: 576px) {
  .benefits-glow-title {
    font-size: 1.5rem;
  }
  .table-section {
    padding: 2rem 2rem;
  }
}

@media (max-width: 430px) {
  .benefits-table-wrapper {
    padding: 2rem 1.5rem;
  }
  .benefits-table-wrapper {
    padding: 1rem 1.5rem 1rem 1.5rem;
  }
  .table-section {
    padding: 2rem 1rem;
  }
}

/* End of Benefits table Section */

/* Start of Testimonials Section */
.testimonials-section {
  background: linear-gradient(to left, #090217 0%, #64029c 50%, #02020c 100%);
  padding-bottom: 3rem;
}

.testimonials-title {
  font-size: 2.5rem;
  font-weight: 800;
  color: #ffffff;
  filter: drop-shadow(0px 0px 15px #c61bff);
  letter-spacing: 1px;
  text-align: center;
  padding: 3rem 0;
}

.testimonials-boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.testimonial-box {
  width: 360px;
  min-height: 300px;
  background-size: cover;
  background-position: center;
  padding: 2rem 1.5rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center */
  align-items: center; /* Horizontally center */
  text-align: center; /* Center text inside */
  color: white;
  font-size: 1rem;
  position: relative;
  margin-bottom: 2rem;
}

.testimonial-box p {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-top: 3rem;
  /*padding: 0 1rem;*/
}

.testimonial-box span {
  font-weight: bold;
  font-size: 0.9rem;
}

.testimonial-box.left p {
  padding-left: 2.5rem;
}

.testimonial-box.left span,
.testimonial-box.middle span {
  padding-left: 1rem;
}

.testimonial-box.right p {
  padding-right: 2rem;
}

.testimonial-box.right span {
  padding-left: 1rem;
}

/* Backgrounds per position */
.testimonial-box.left {
  background-image: url("https://i.imgur.com/DrT1gQ6.png");
}

.testimonial-box.middle {
  background-image: url("https://i.imgur.com/M8gO4K5.png");
}

.testimonial-box.right {
  background-image: url("https://i.imgur.com/rRdFF5O.png");
}

.testimonial-stars {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  display: flex;
  gap: 4px;
}

.testimonial-box.left .testimonial-stars {
  padding-left: 2rem;
}

.testimonial-stars img {
  width: 25px;
  height: auto;
}

.testimonial-footer {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.testimonial-box.left .testimonial-footer {
  padding-left: 1.5rem;
}

.testimonial-box.right .testimonial-footer {
  padding-right: 2rem;
}

.testimonial-footer img.testimonial-flag {
  width: 50px;
  height: auto;
}

.testimonial-block {
  display: block;
  margin-bottom: 3rem;
}

.testimonials-boxes:nth-of-type(2) .testimonial-box {
  width: 390px;
  padding: 2rem 1.7rem;
}

.testimonials-boxes-mobile,
.testimonial-nav-mobile {
  display: none;
}

@media (max-width: 1550px) {
  .testimonial-box {
    width: 330px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .testimonials-boxes:nth-of-type(2) .testimonial-box {
    width: 370px;
    padding: 1.5rem 2rem;
  }
  .testimonials-boxes {
    gap: 0.5rem;
  }
  .testimonial-stars {
    top: 2rem;
  }
  .testimonial-footer {
    bottom: 2rem;
  }
}

@media (max-width: 1366px) {
  .testimonial-box {
    width: 280px;
    margin-bottom: 0;
  }
  .testimonial-box p {
    font-size: 0.9rem;
  }
  .testimonial-stars {
    top: 2.5rem;
  }
  .testimonial-stars img {
    width: 20px;
  }
  .testimonial-footer img.testimonial-flag {
    width: 40px;
  }
  .testimonial-footer {
    bottom: 2.5rem;
  }
  .testimonials-boxes:nth-of-type(2) .testimonial-box {
    width: 310px;
    padding: 1.5rem 1rem;
  }
}

@media (max-width: 1175px) {
  .testimonials-boxes {
    padding: 0 10rem;
  }
}

@media (max-width: 888px) {
  .testimonials-boxes {
    padding: 0 4rem;
  }
}

/* Mobile-only slider setup */
.testimonials-boxes-mobile {
  display: none;
  overflow: hidden;
}

.testimonials-slider-track-mobile {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}

.testimonials-slider-slide-mobile {
  min-width: 100%;
  display: flex;
  justify-content: center;
}

/* Navigation Arrows */
.testimonial-nav-mobile {
  display: none;
  justify-content: center;
  gap: 2rem;
}

.testimonial-nav-mobile img {
  width: 30px;
  cursor: pointer;
}

/* Show mobile only below 756px */
@media (max-width: 756px) {
  .testimonial-box {
    width: 300px;
  }
  .testimonials-section {
    padding-bottom: 0;
  }
  .testimonials-title {
    font-size: 2rem;
    padding: 1rem 0;
  }
  .testimonials-boxes-desktop {
    display: none;
  }

  .testimonials-boxes-mobile {
    display: block;
  }

  .testimonial-nav-mobile {
    display: flex;
  }

  /* Stack testimonial-boxes vertically */
  .testimonials-boxes {
    flex-direction: column;
    margin-top: -1rem;
  }

  .testimonial-box {
    margin-bottom: 0;
  }
}

@media (max-width: 430px) {
  .testimonials-title {
    font-size: 1.5rem;
  }
}

/* End of Testimonials Section */

/* Start of Before Footer Section */
.before-footer-container {
  background-image: url("https://i.imgur.com/SjY3FUE.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem 2rem;
}

.before-footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16rem;
}

.before-footer-title {
  font-size: 2.5rem;
  font-weight: 800;
  color: #ffffff;
  filter: drop-shadow(0px 0px 15px #c61bff);
  letter-spacing: 1px;
  padding: 1rem 0;
  text-align: center;
}

.before-footer-description {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 2rem;
  padding: 0 1rem;
  text-align: center;
}

.before-footer-button {
  background: linear-gradient(90deg, #8f00ff 0%, #f73068 100%);
  border: none;
  padding: 1rem 2rem;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  width: 400px;
  height: 80px;
  font-size: 1.5rem;
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.before-footer-button:hover {
  transform: scaleX(1.1);
  box-shadow: 0 0 15px #f73068;
}

@media (max-width: 1440px) {
  .before-footer-content {
    padding: 0 7rem;
  }
}

@media (max-width: 991px) {
  .before-footer-content {
    padding: 0 3rem;
  }
}

@media (max-width: 768px) {
  .before-footer-content {
    padding: 0 1rem;
  }
  .before-footer-title {
    font-size: 2rem;
  }
  .before-footer-button {
    width: 300px;
    height: 60px;
  }
}

@media (max-width: 576px) {
  .before-footer-title {
    font-size: 1.5rem;
  }
  .before-footer-description {
    font-size: 1rem;
  }
  .before-footer-button {
    width: 200px;
    font-size: 1rem;
    height: 50px;
  }
}

@media (max-width: 430px) {
  .before-footer-content {
    padding: 0;
  }
}

/* End of Before Footer Section */

/* Start of Footer Section */
.footer-container {
  background-color: #190033;
  padding: 2rem 2rem;
  display: flex;
  justify-content: center;
}

.footer-content {
  text-align: center;
  width: 100%;
}

.footer-logo {
  width: 250px;
  margin-bottom: 2rem;
}

.footer-logos {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 2rem;
}

.footer-logo-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.footer-logo-row img {
  height: 50px;
  object-fit: contain;
  margin: 0 12px; /* Adds horizontal space between logos */
  padding: 5px; /* Optional: adds breathing room inside the logo box */
}

.footer-divider {
  border: none;
  height: 2px;
  background-color: #bb00ff;
  width: 100%;
  max-width: 1300px;
  margin: 2rem auto;
}

.footer-copy {
  color: white;
  font-size: 1rem;
  opacity: 0.8;
}

.footer-logo-row.row-3 img {
  height: 70px; /* or whatever size you want */
}

@media (max-width: 576px) {
  .footer-logo-row {
    justify-content: space-between;
  }

  .footer-logo-row img {
    flex: 0 0 calc(50% - 0.5rem); /* More space for logos */
    max-width: calc(50% - 0.5rem);
    display: block;
    height: 40px; /* Increase this value if you want taller logos */
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-logo-row img:nth-last-child(1):nth-child(odd) {
    margin-left: auto;
    margin-right: auto;
  }
}

/* End of Footer Section */
